body { 
	font-family: 'Inconsolata', sans-serif;
	overflow: hidden;
	padding:0;
	margin:0;
	height: 100%;
	width: 100%;
}

a {
	color:red;
}

#bg-image {
	position: absolute;
	z-index: -1;
}

#content-body {
	position: absolute;
	z-index: 5;
	overflow: auto;
	height: 100%;
	width: 100%;
}

#navigation {
	margin: 10px;
	padding: 10px;
	float:right;
	/*width: 200px;*/
	text-align: center;
	background-color: #fff;
	opacity: 0.75;
}

#navigation a {
	text-decoration: none;
}

#navigation a:hover {
	text-decoration: underline;
}

#navigation li {
	list-style-type: none;
	padding: 5px;
	border-left: 5px solid #fff;
}

#navigation li:hover {
	border-left: 5px solid #ddd;
}

#post {
	background-color: #fff;
	opacity: 0.75;
	margin: 10px;
	padding: 15px;
	float:left;
	min-width: 650px;
}

#footer {
	position: absolute;
	left: 0px;
	bottom: 0px;
	/*height: 30px;*/
	width: 100%;
}

#footer p {
	color: #888;
	text-align: right;
	font-size: .8em;
	margin-right: 2em;
}

.round_shadow {
    border-radius: 10px;

	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
    -khtml-border-radius: 10px;
	
	-moz-box-shadow: 4px 4px 5px #000;
	-webkit-box-shadow: 4px 4px 5px #000;
	box-shadow: 4px 4px 5px #000;
}