.layout-post {

    width: 85%;
    max-width: 940px;
    margin: 0 auto;
    
    .title {
        margin-bottom: 2px;
    }

    .post-header {
        margin-bottom: 1em;
    }

    /* info box */
    .info-box {
        width: 85%;
        background-color: #eee;
        text-align: center;
        margin: 0 auto;
        padding: 1em;
    }

    .info-box img {
        float: left;
    }

    /* add some padding to code blocks */
    .highlight pre {
        padding: .8em;
    }

    img {
        display: block;
        margin: 0 auto;
        max-width: 100%;
    }
}
