<html lang="en">
  <head>
    <meta charset="utf-8">
	<title>Carl Groner > {{page.title}}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
	{% if page.meta_desc %}<meta name="description" content="{{ page.meta_desc }}" />{% endif %}
        <meta name="author" content="Carl Groner">
        <link href="/css/style.css" rel="stylesheet">

        <!--[if lt IE 9]>
            <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
  </head>

  <body>
      <div class="layout-template">
          {{ content }}
      </div>
  </body>
</html>
